<!DOCTYPE html>
<html ng-app="a" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <script src="js/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>Magic Life Counter</title>
</head>
<body>
<h1 class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">Magic Life Counter</h1>
<nav class="nav"><a class="navbar-link" href="index.html">Home</a></nav>
<div class="" ng-controller="magic">
    <div class="" ng-hide="gamestarted == 1">
        <span>
            Number of players:
            <input type="number" ng-model="num_player">
            <br>
            Gametype:
            <select ng-model="gametype">
                <option  ng-repeat="item in game_type">{{item.name}}</option>
            </select>
            <br>
            <button class="btn" ng-click="start_game()">Start Game</button>
        </span>
    </div>
    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" ng-hide="gamestarted == 0">
        <div class="row">
        <div class="container col-lg-4 col-md-4 col-sm-4 col-xs-4" name="Player1">
            <span class="h4" name="p-name">
                {{players[1].player_name}}
            </span>
            <br>
            <span class="btn-group" name="health" ng-disabled="players[1].health <= 0">
               <h3>{{players[1].health}}</h3>
                <button class="btn btn-primary" ng-click="addhealth_1(1)" >+1 Health</button>
                <button class="btn btn-primary" ng-click="removehealth_1(1)" >-1 Health</button>
                <br/>
                <button class="btn btn-primary" ng-click="addhealth_5(1)" >+5 Health</button>
                <button class="btn btn-primary" ng-click="removehealth_5(1)" >-5 Health</button>
            </span>
            <br>
            <span class="btn-group" name="poison">
                <h3>{{players[1].poison}}</h3>
                <button class="btn btn-primary" ng-click="addpoison(1)">+1 Poison</button>
                <button class="btn btn-primary" ng-click="removepoison(1)" ng-disabled="players[1].poison <= 0">-1 Poison</button>
            </span>
        </div>
        <div class="container col-lg-4 col-md-4 col-sm-4 col-xs-4" name="Player3" ng-hide="num_player < 3">
            <span class="h4" name="p-name">
                {{players[3].player_name}}
            </span>
            <br>
            <span class="btn-group" name="health">
               <h3>{{players[3].health}}</h3>
                <button class="btn btn-primary" ng-click="addhealth_1(3)" >+1 Health</button>
                <button class="btn btn-primary" ng-click="removehealth_1(3)" >-1 Health</button>
                <br/>
                <button class="btn btn-primary" ng-click="addhealth_5(3)" >+5 Health</button>
                <button class="btn btn-primary" ng-click="removehealth_5(3)" >-5 Health</button>
            </span>
            <br>
            <span class="btn-group" name="poison">
                <h3>{{players[3].poison}}</h3>
                <button class="btn btn-primary" ng-click="addpoison(3)">+1 Poison</button>
                <button class="btn btn-primary" ng-click="removepoison(3)" ng-disabled="players[3].poison <= 0">-1 Poison</button>
            </span>
        </div>
        </div>
        <br>
        <div class="row">
        <div class="container col-lg-4 col-md-4 col-sm-4 col-xs-4" name="Player2" ng-hide="num_player < 2">
            <span class="h4" name="p-name">
                {{players[2].player_name}}
            </span>
            <br>
            <span class="btn-group" name="health">
               <h3>{{players[2].health}}</h3>
                <button class="btn btn-primary" ng-click="addhealth_1(2)" >+1 Health</button>
                <button class="btn btn-primary" ng-click="removehealth_1(2)" >-1 Health</button>
                <br/>
                <button class="btn btn-primary" ng-click="addhealth_5(2)" >+5 Health</button>
                <button class="btn btn-primary" ng-click="removehealth_5(2)" >-5 Health</button>
            </span>
            <br>
            <span class="btn-group" name="poison">
                <h3>{{players[2].poison}}</h3>
                <button class="btn btn-primary" ng-click="addpoison(2)">+1 Poison</button>
                <button class="btn btn-primary" ng-click="removepoison(2)" ng-disabled="players[2].poison <= 0">-1 Poison</button>
            </span>
        </div>
        <div class="container col-lg-4 col-md-4 col-sm-4 col-xs-4" name="Player4" ng-hide="num_player < 4">
            <span class="h4" name="p-name">
                {{players[4].player_name}}
            </span>
            <br>
            <span class="btn-group" name="health">
               <h3>{{players[4].health}}</h3>
                <button class="btn btn-primary" ng-click="addhealth_1(4)" >+1 Health</button>
                <button class="btn btn-primary" ng-click="removehealth_1(4)" >-1 Health</button>
                <br/>
                <button class="btn btn-primary" ng-click="addhealth_5(4)" >+5 Health</button>
                <button class="btn btn-primary" ng-click="removehealth_5(4)" >-5 Health</button>
            </span>
            <br>
            <span class="btn-group" name="poison">
                <h3>{{players[4].poison}}</h3>
                <button class="btn btn-primary" ng-click="addpoison(4)">+1 Poison</button>
                <button class="btn btn-primary" ng-click="removepoison(4)" ng-disabled="players[4].poison <= 0">-1 Poison</button>
            </span>
        </div>
        </div>
    </div>
    <button class="btn" ng-click="reset_game()">Restart</button>
</div>

<div class="container" ng-controller="magic">
    {{testing(num_player)}}
    <div name="card search" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        Search:
        <br>
        Any: <input type="text" ng-model="search.$">
        <br>
        Name: <input type="text" ng-model="search.name">
        <br>
        Type: <input type="text" ng-model="search.type">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Toughness</th>
                <th>Type</th>
                <th>Cost</th>
            </tr>
            <tr ng-repeat="card in cards | filter:search">
                <td>{{card.name}}</td>
                <td>{{card.power}}</td>
                <td>{{card.toughness}}</td>
                <td>{{card.type}}</td>
                <td>{{card.cost}}</td>
            </tr>
        </table>
    </div>
    <div name="Deck Builder" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <span>Build Your Deck</span>
        <br>
        <span>Card Name: <input type="text" ng-model="cardname"><button class="glyphicon-plus" ng-click="addtodeck(cardname)"></button></span>
        <span>Deck Size: {{player_deck.length}}</span>
        <br>
        <span>{{player_deck}}</span>
    </div>
</div>

<script src="js/magic.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.min.js"></script>
</body>
</html>